

.row{
    margin-left: 30px;
    
}

.movies::-webkit-scrollbar{
    display: none;
}
.movie:hover{
    transform:scale(1.2);
}

.movies{
    display: flex;
    overflow-x:scroll;
    overflow-y:hidden;
}

.movie{
     width: 190px;
     height: 120px;
     padding: 10px;
     transition: 0.5s ease-in-out;
 
}

.largeMovie{
    height: 240px;
    width: 160px;
    
}

